
/* small tablets to big tablets: from 768px to 1022px */
@media only screen and (max-width: 1022px) {
    
}

/* small phones from 481px to 765px */
@media only screen and (max-width: 765px) {
    .swag-section {
        display: none;
    }
    .stay-photo{
        width: 40%;
        float: left;
        
    }
    .stay-photo-text{
        width: 60%;
        float: left;
    }
    .section-5 {
        margin-bottom: 10px;
    }
    
    .image-pic {
        margin-right: 20px;
    }
    
    .icon-big {
        font-size: 250%;
        margin-top: 10px;
    }
    
    .box {
        font-size: 96%;
    }
    
    .about-us-text {
        padding-left: 10px;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
     /*this is for section 4*/
    
    .image-pic {
        width: 100%;
        padding-left: 15px;
    }
    
    .txt-align {
        font-size: 90%;
    }
    
    .image-pic {
        margin-right: 100px;
    }
    
    /*this is for section 5*/
    
    .about-us-text {
        margin-top: -10px;
        font-size: 80%;
    }
    
    .text-align {
        margin-left: 10px;
    }
    
    .image-pic {
        margin-left: 10px;
    }
    
    column-80 {
        width: 80%;
        margin-left: 10px;
    }
    
}

/* smaller phones with width less than 320px */
@media only screen and (max-width: 320px) {
    
  /*the margin for section 0*/
  .section-margin {
      margin-top: 5px;
  }
  
  /*icon text for section 1*/
  .icon-text {
      font-size: 100%;
  }
  
  .box {
      font-size: 90%;
  }
  
  .icon-big {
      font-size: 200%;
  }
  
  /*section 4 touring mars*/
  
  .txt-align {
      font-size: 80%;
      padding-left: 20px;
  }
  
  .image-pic {
      padding-right: 10px;
  }
  
  /*section 5 about us*/
 
 .stay-photo {
     margin-left: 80px;
 }
 
 .about-us-title {
     margin-top: 110px;
     margin-left: 100px;
     
 }
 
 .column-100 {
     width: 100%;
 }
 
 .footer-list {
     font-size: 85%;
 }
 

 
}

