
/* small tablets to big tablets: from 768px to 1022px */
@media only screen and (max-width: 1022px) {
    
}

/* small phones from 481px to 767px */
@media only screen and (max-width: 767px) {
    .exploring-mars-section {
        display: none;
    }
    
    .stay-photo{
        width: 40%;
        float: left;
        margin-left: 30%;
    }
    
    .about-us-title{
        text-align: center;
    }
    
    .about-us-text{
        text-align: center;
    }
    
    .touring-mars-pic {
        margin-bottom: 10px;
    }
    
    .touring-mars-text {
        margin-bottom: 10px;
    }
    
    .txt-align {
        text-align: center;
    }
    
    .section-5 {
        margin-bottom: 10px;
    }
    
    .image-pic{ 
        width: 50%;
        margin-right: 25%;
    }
    
    .col-sm-5 .image-pic img{
        width: 100%;
    }
    
    .icon-big {
        font-size: 250%;
        margin-top: 10px;
    }
    
    .box {
        font-size: 96%;
    }
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
     /*this is for section 4*/
    
    .txt-align {
        font-size: 90%;
    }
    
    /*this is for section 5*/
    
    .about-us-text {
        margin-top: -10px;
        font-size: 80%;
    }
    
    .text-align {
        margin-left: 10px;
    }
    
}

/* smaller phones with width less than 320px */
@media only screen and (max-width: 320px) {
    
  /*the margin for section 0*/
  .section-margin {
      margin-top: 5px;
  }
  
  /*icon text for section 1*/
  .icon-text {
      font-size: 100%;
  }
  
  .box {
      font-size: 90%;
  }
  
  .icon-big {
      font-size: 200%;
  }
  
  /*section 4 touring mars*/
  
  .txt-align {
      font-size: 80%;
      padding-left: 20px;
  }
  
  .image-pic {
      padding-right: 10px;
  }
  
  /*section 5 about us*/
 
 .column-100 {
     width: 100%;
 }
 
 .footer-list {
     font-size: 85%;
 }
 
 
}

